<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<title>Yet Another To-Do List</title>
<script src="index.js" type="module"></script>
</head>
<body>
	<div id="app">
		<h1>{{ count(get(tasks, "done")) }} done of {{ tasks.length }} task(s)</h1>
		<ul>
			<li v-for="(task, i) in tasks">
				<input type="checkbox" v-model="task.done">
				<input type="text" v-model="task.title">
				<button @click="deleteItem(i)">X</button>
			</li>
		</ul>
		<button @click="addItem">Add Item</button>
		<button @click="clearCompleted">Clear Completed</button>
	</div>
</body>
</html>